env:
  TZ: "Europe/London"

ingress:
  enabled: true
  hosts:
    - host: wiki.{{ .Values.jxRequirements.ingress.domain }}
      paths: /
  tls:
     - secretName: tls-dev-property-xyz-p
       hosts:
         -  wiki.{{ .Values.jxRequirements.ingress.domain }}



